.ai-label {
  font-size: 24px;
  font-weight: bold;
  color: #4a4a4a;
  margin-bottom: -10px;
  margin-left: 15px;
}

.submit-button {
  display: block;
  margin: 32px auto 0;
  width: fit-content;
  
}


.logo {
  display: block;
  max-width: 20%;
  height: auto;
  margin: 50px auto;
}

.start-over-button {
  position: absolute;
  top: 30px;
  left: 70px;
}

.subcategories {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  flex-wrap: wrap;
  width: 100%; /* Change this value to adjust the width of the subcategories container */
}

.subcategory-button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 3px;
  flex: 1;
  margin-left: 10px;
}

.subcategory-button:first-child {
  margin-left: 0;
}

.subcategory-button:hover {
  background-color: #5a6268;
}


.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 250px;
}

.button-5:hover {
  background-color: #6400fa;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}